#untaintedTaste{
    background-image: url(../img/temperature-technology.jpg);
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 380px;
    align-items: center;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    .mh-h-500 {
        min-height: 500px;
    }
   .caption {
        color: #ffffff;
        z-index: 999;
        position: relative;
          max-width: 360px;
        margin-left: 12%;
     h3{
       font-size: 20px;
       margin-bottom: 20px;
     }
       h4 {
            margin: 10px 0;
            line-height: 20px;
            font-size: 14px;
        }

    }
}