// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// $body-font: 'Open Sans', 'Helvetica Neue Light';

// // Base colors
// $body-color: #333;
// $p-color: #333; // <p> tag color
// $a-color: #337ab7; // links color

// //$color-scheme: @@@@

// // Font sizes
// $base-font-size: 14px;

// /// Copy text color
// /// @type Color
// $text-color: rgb(34, 34, 34) !default;

// /// Main brand color
// /// @type Color


$brand-color: #295282!default;
$brand-color-dark: #253849 !default; 
$white: #fff;
$btn-btm: #3F3F3F;
$icon-color: #BABCBF;
$light-gray: #F4F4F4;
$post-title: #385273;
$brand-dark-two: #243849;






